<!DOCTYPE html>
<html>
<head>
  <title>OneStudy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <!-- application wide header -->
  <%= render "layouts/header" %>
  <!-- application content -->
  <%= yield %>
  <!-- application wide footer -->
  <%= render "layouts/footer" %>
</body>
</html>
