<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col s4 offset-s4">
    <div class="card purple lighten-2">
      <div class="card-content white-text">
        <span class="card-title center"><h4>&nbsp;Teachers</h4></span>
      </div>
    <% if user_signed_in? %>
      <div class="card-action center">
        <%= link_to "New Teacher", new_teacher_path, class: "btn white black-text"%>
      </div>
    <% end %>
    </div>
  </div>
    <div class="col s12">
  <ul class="collection">
<% @teachers.each do |teacher| %>
  <li class="collection-item">
    <%= link_to teacher.name, teacher %> who teaches at <%= link_to teacher.school.name, teacher.school %>
      <br>
      Description: <%= teacher.description %>
  </li>
<% end %>
  </div>
</div>