<p><%= link_to 'Back', schools_path, class: "btn btn-default" %></p>

<div class="panel panel-default">
  <div class="panel-heading">
    <h2><b><%= @teacher.name %></b> who teaches at <b><%= @teacher.school.name %></b></h2>
  </div>
  <div class="panel-body">
    <div class="well">
      <b>Description:</b> <%= @teacher.description %>
    </div>
  </div>
</div>

<% if @teacher.courses.any? %>
   <div class="panel panel-default">
    <div class="panel-heading">
      <h2> <%= @teacher.name %>'s courses:</b></h2>
    </div>
    <div class="panel-body">
      <% @teacher.courses.each do |teacher| %>  
        <div class="well well-sm">  
          <%= link_to "#{course.name}", course_path(course) %>
          <br/>
          <b>Description:</b> <%= @teacher.course.description %>
        </div>
      <% end %>
<% else %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <p><b><%= @teacher.name %></b> does not have any courses yet.</p>
    </div>
    <div class="panel-body">
      <% if user_signed_in?%>
        <p>
          <%= link_to new_course_path(:teacher_id => @teacher.id) do %>
          <span class="glyphicon glyphicon-plus"></span> <%="New course for #{@teacher.name}" %>
          <% end %>
        </p>
      <% end %>  
    </div>
  </div>
<% end %>

<% if user_signed_in? %>
  <% if current_user.admin? %>
    <%= link_to 'Edit', edit_teacher_path(@teacher), class: "btn btn-default" %>
  <% end %>
<% end %>