<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @teacher.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @teacher.description %>
</p>

<p>
  <strong>School:</strong>
  <%= @teacher.school_id %>
</p>

<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Destroy', teacher, method: :delete, data: { confirm: 'Are you sure?' } %></td>

<%= link_to 'Back', teachers_path %>
