<p><%= link_to 'Back', schools_path, class: "btn btn-default" %></p>

<div class="panel panel-default">
  <div class="panel-heading">
    <h2><b><%= @teacher.name %></b> who teaches at <b><%= @teacher.school.name %></b></h2>
  </div>
  <div class="panel-body">
      <b>Description:</b> <%= @teacher.description %>
      <% if user_signed_in? %>
        <% if current_user.admin? %>
          <br/><br/>
          <%= link_to 'Edit', edit_teacher_path(@teacher), class: "btn btn-default" %>
          <%= link_to 'Delete', teacher_path(@teacher), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
        <% end %>
      <% end %>
  </div>
</div>

<% if @teacher_courses.any? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2> <%= @teacher.name %>'s courses:</h2>
    </div>
    <div class="panel-body">
      <% @teacher_courses.each do |course| %>  
        <div class="well well-sm">  
          <p><%= link_to "#{course.name}", course_path(course) %></p>
          <b>Description:</b> <%= course.description %>
        </div>
      <% end %>
      <% if user_signed_in? %>
          <div class="well well-sm">
            <%= link_to new_course_path(:teacher_id => @teacher.id) do %>
              <span class="glyphicon glyphicon-plus"></span> <%="New course for #{@teacher.name}" %>
            <% end %>
          </div>
        <% end %>
    </div>
<% else %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <p><b><%= @teacher.name %></b> does not have any courses yet.</p>
    </div>
  <% if user_signed_in?%>
    <div class="panel-body">
        <p>
          <%= link_to new_course_path(:teacher_id => @teacher.id) do %>
          <span class="glyphicon glyphicon-plus"></span> <%="New course for #{@teacher.name}" %>
          <% end %>
        </p>
      <% end %>  
    </div>
  </div>
<% end %>
