<p><%= link_to 'Back', schools_path, class: "btn btn-default" %></p>

<div class="panel panel-default">
  <div class="panel-heading">
    <h2><b><%= @teacher.name %></b> who teaches at <b><%= @teacher.school.name %></b></h2>
  </div>
  <div class="panel-body">
    <div class="well">
      <b>Description:</b> <%= @teacher.description %>
    </div>
  </div>
</div>

<% if courses.any? %>
<% else %>
<% end %>

<% if user_signed_in? %>
  <% if current_user.admin? %>
    <%= link_to 'Edit', edit_teacher_path(@teacher), class: "btn btn-default" %>
  <% end %>
<% end %>