<h1>Schools</h1>
    <% @schools.each do |school| %>
      <div class="panel panel-default">
        <div class="panel-footer"><h3><b><%= link_to school.name, school %></b> in <%= school.city %>, <%= school.state %> (Zipcode: <%= school.zipcode %>)</h3>
        <div class="panel-body">
          

          <%= link_to 'Edit', edit_school_path(school) %>
          <%= link_to 'Delete', school, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    <% end %>

<%= link_to 'New School', new_school_path %>
