<div class="row">
  <div class="col s4 offset-s4">
    <div class="card purple lighten-2">
      <div class="card-content white-text">
        <span class="card-title center"><h4>&nbsp;Schools</h4></span>
      </div>
    <% if user_signed_in? %>
      <div class="card-action center">
        <%= link_to 'New School', new_school_path, class: "btn" %>
      </div>
    <% end %>
    </div>
  </div>
  <% @schools.each do |school| %>
    <div class="col s6">
      <div class="card purple">
        <div class="card-content white-text">
          <h5><b><%= link_to school.name, school %></b> in <%= school.city %>, <%= school.state %> </h5>
          (Zipcode: <%= school.zipcode %>)
          <%= school.info %>
        </div>
        <% if user_signed_in? %>
          <div class="card-action">
            <%= link_to 'Edit', edit_school_path(school), class: "btn" %>
            <%= link_to 'Delete', school, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn" %>
          </div>
        <% end %>
        </h5>
      </div>
    </div>
  <% end %>
</div>
