<div class="panel panel-default">
<h1>&nbsp;Schools
    <% if user_signed_in? %>
      <%= link_to 'New School', new_school_path, class: "btn btn-default" %>
    <% end %>
  </h1>
</div>
<% @schools.each_slice(3) do |schools| %>
  <div class="row">
    <% schools.each do |school| %>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading"><h3><b><%= link_to school.name, school %></b> in <%= school.city %>, <%= school.state %> (Zipcode: <%= school.zipcode %>)</h3></div>
          <div class="panel-body">
            <%= school.info %>
            <% if user_signed_in? %>
              <%if current_user.admin? %>
                <br/>
                <%= link_to 'Edit', edit_school_path(school), class: "btn btn-default" %>
                <%= link_to 'Delete', school, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
               <% end %> 
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
