<h1>Schools</h1>
    <% @schools.each do |school| %>
      <div class="panel panel-default">
        <div class="panel-heading"><h3><b><%= link_to school.name, school %></b> in <%= school.city %>, <%= school.state %> (Zipcode: <%= school.zipcode %>)</h3></div>
        <div class="panel-body">
          <% if user_signed_in? %>
            <%if current_user.admin? %>
              <%= link_to 'Edit', edit_school_path(school) %>
              <%= link_to 'Delete', school, method: :delete, data: { confirm: 'Are you sure?' } %>
             <% end %> 
          <% end %>
          <%= school.info %>
        </div>
      </div>
    <% end %>

<% if user_signed_in? %>
  <%= link_to 'New School', new_school_path, class: "btn btn-default" %>
<% end %>