<p id="notice"><%= notice %></p>

<% @schools.each_slice(4) do |schools| %>
  <div class="row">
    <% schools.each do |school| %>
      <div class="col-md-3">
        <div class="card">
          <div class="card-header card-info">
            <%= link_to "#{school.name}", school %>
          </div>
          <div class="card-block">
            <h4 class="card-title">
              <%= school.info %>
            </h4>
            <p class="card-text">
              Located in <%= school.city %>, <%= school.state %> (ZIP: <%= school.zipcode %>)
              <%= link_to 'Edit', edit_school_path(school) %>
              <%= link_to 'Destroy', school, method: :delete, data: { confirm: 'Are you sure?' } %>
            </p>
            <p class="card-text">
              <small class="text-muted">
                Created at <%= school.created_at %>
              </small>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>


<br>

<%= link_to 'New School', new_school_path %>
