<p id="notice"><%= notice %></p>


<%= link_to 'Back', schools_path, class: "btn btn-default"%><br/>
<p>
  <strong>Name:</strong>
  <%= @school.name %>
</p>

<p>
  <strong>State:</strong>
  <%= @school.state %>
</p>

<p>
  <strong>City:</strong>
  <%= @school.city %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @school.zipcode %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @school.zipcode %>
</p>

<% if user_signed_in? %>
  <% if current_user.admin? %>
    <%= link_to 'Edit', edit_school_path(@school), class: "btn btn-default" %>
  <% end%>
<% end %>