<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<div class="panel-body">
  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  
  <% if params[:teacher_id] %>
    <%= hidden_field_tag :teacher_id, params[:teacher_id] %>
  <% else %>
    <div class="form-group">
      <%= f.label :teacher_id %>
      <%= f.number_field :teacher_id, class: "form-control"%>  
    </div>
  <% end %>
</div>
<div class="panel-footer">
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
<% end %>
