<div class="panel panel-default">
  <div class="panel-heading">
    <h2><b><%= @course.name %></b> taught by <b><%= @course.teacher.name %></b></h2>
  </div>
  <div class="panel-body">
    <p><b>Description:</b> <%= @course.description %></p>
    <% if @course.guides.any? %>
      <% @course.guides.each do |guide| %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <%= link_to "#{guide.title}", guide_path(guide) %> created by
             <!-- will add link to user page later --> <%= guide.user.name %>
          </div>
          <div class="panel-body">
            <%= guide.body.truncate(100)%>
          </div>
          <% if user_signed_in? %>
            <div class="panel-footer">
              <% if current_user && guide.user == current_user %>
                <%= link_to "Edit your guide #{guide.title}", edit_guide_path(guide) %>
              <% else %>
                Ask <%= guide.user %> to edit this guide <!-- future feature with acesses and notificationswill add later -->
                <br/>or<br/>
                <%= link_to new_guide_path(:course_id => @course.id, :user_id => current_user.id) do %>
                  <span class="glyphicon glyphicon-plus"></span>Make a new Study Guide for <%= @course.name %>
                <% end %>
              <% end %>
                </p>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <div class="well well-sm">
        Nobody has made any study guides for this course yet <br/>
        <%= link_to  new_guide_path(:course_id => @course.id, :user_id => current_user.id) do %>
          <span class="glyphicon glyphicon-plus"></span>Make a new Study Guide for <%= @course.name %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="panel-footer">
    <% if user_signed_in? %>
      <% # link_to %>
    <% end %>
    <% if user_signed_in? %>
      <% if current_user.admin? %>
        <%= link_to 'Edit', edit_course_path(@course), class: "btn btn-default" %>
      <% end %>
    <% end %>
    <%= link_to 'Back', teacher_path(@course.teacher), class: "btn btn-default" %>
  </div>
</div>
