<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @guide.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @guide.body %>
</p>

<p>
  <strong>User:</strong>
  <%= @guide.user_id %>
</p>

<p>
  <strong>Course:</strong>
  <%= @guide.course_id %>
</p>

<%= link_to 'Edit', edit_guide_path(@guide) %> |
<%= link_to 'Back', guides_path %>
