<div class="panel panel-body">
  <div class="panel-heading">
    <%= @guide.title %>
  </div>
  <div class="panel-body">
    <span class="label label-default">
      Created by <%= @guide.user.name %> for <%= @guide.course.teacher.name %>'s <%= @guide.course.name %>
    </span>
  </div>
  <div class="panel-footer">
      Ask <%= @guide.user.name %> for permission to edit this guide.
  </div>
</div>
