<nav class="navbar navbar-dark m-a-0" style="border-radius: 0em; background-color: #FFFFFF;">
  <ul class="nav navbar-nav pull-left">
    <li class="nav-item">
      <%= link_to root_path, class:"btn navbar-toggler pull-left nav-link", style: "color: #FF4161" do %>
      &#127968;
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to "Schools", schools_path, class: "nav-link", style: "color: #FF4161" %>
    </li>
    <li class="nav-item">
      <%= link_to "Teachers", teachers_path, class: "nav-link", style: "color: #FF4161" %>
    </li>
    <li class="nav-item">
      <%= link_to "Courses", courses_path, class: "nav-link", style: "color: #FF4161" %>
    </li>
    <li class="nav-item">
      <%= link_to "Guides", guides_path, class: "nav-link", style: "color: #FF4161" %>
    </li>
  </ul>
  <ul class="nav navbar-nav pull-right">
    <li class="nav-item">
      <% if user_signed_in? %>
        <span class="nav-link active"><b>Logged in as</b> <%= current_user.name %></span>
      <% else %>
      <div class="btn-group" role="group" aria-label="Basic example">
        <%= link_to "Sign up", new_user_registration_path, class:"btn btn-danger-outline", style: "color: #FF4161"%>
        <%= link_to "Log in", new_user_session_path, class:"btn btn-danger-outline", style: "color: #FF4161"%>
      </div>
      <% end %>
    </li>
      <button class="navbar-toggler pull-right" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar" style="color: #FF4161">
        &#9776;
      </button>
  </ul>
</nav>
    <div class="collapse" id="exCollapsingNavbar">
      <% if user_signed_in? %>
      <div class="row">
        <div class="col-md-6 bg-success p-a">
          <div class="col-md-4">
            <%= image_tag current_user.profile_picture.url %>
          </div>
          <div class="col-md-8">
          </div>
        </div>
        <div class="col-md-6 bg-primary p-a">
            <h4><%= current_user.name %></h4>
            <p><%= link_to "Logout", destroy_user_session_path, method: :delete %></p>
        </div>
      </div>
      <% else %>
      <h3>
        Sign in to acess this feature
      </h3>
      <% end %>
    </div>
