<nav class="blue">
    <div class="nav-wrapper">
        <%= link_to "One-Study", root_path, class: "brand-logo center" %>
        <ul id="nav" class="left">
            <li><%= link_to "Schools", schools_path %></li>
            <li><%= link_to "Teachers", teachers_path %></li>
            <li><%= link_to "Courses", courses_path %></li>
            <li><%= link_to "Guides", guides_path %></li>
        </ul>
        <ul id="nav" class="right">
            <% if user_signed_in? %>
                <li><%= link_to "Edit User", delete_user_session_path %></li>
                <li><%= link_to "Log out", delete_user_session_path %></li>
            <% else %>
                <li><%= link_to "Sign in", new_user_session_path %></li>
                <li><%= link_to "Sign up", new_user_registration_path %></li>
            <% end %>
        </ul>
    </div>
</nav>