<nav class="purple darken-1">
    <div class="nav-wrapper">
        <%= link_to "One-Study", root_path, class: "brand-logo center" %>
        <ul id="nav" class="left">
            <li><%= link_to "Schools", schools_path %></li>
            <li><%= link_to "Teachers", teachers_path %></li>
            <li><%= link_to "Courses", courses_path %></li>
            <li><%= link_to "Guides", guides_path %></li>
        </ul>
        <ul id="nav" class="right">
            <% if user_signed_in? %>
                <li>
                    <a class="dropdown-button" data-activates="dropdown1"><%= current_user.name %><i class="material-icons right">arrow_drop_down</i></a>
                </li>
            <% else %>
                <li><%= link_to "Sign in", new_user_session_path %></li>
                <li><%= link_to "Sign up", new_user_registration_path %></li>
            <% end %>
        </ul>
    </div>
</nav>
<% if user_signed_in? %>
    <ul id="dropdown1" class="dropdown-content">
        <li><a><%= current_user.name %></a></li>
        <li><%= link_to "Edit User", edit_user_registration_path %></li>
        <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
    </ul>
<% end %>