<!DOCTYPE html>
<html>
<head>
  <title>One-Study</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>
<body class="purple darken-4">
  <div class = "row" style="font-family: 'Roboto', sans-serif;">
    <div class = "col s10 offset-s1">
    <%= render 'layouts/navbar' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </div>
</body>
</html>
